:root {
  --primary-color-dark-blue-1: hsl(217, 28%, 15%);
  --primary-color-dark-blue-2: hsl(218, 28%, 13%);
  --primary-color-dark-blue-3: hsl(216, 53%, 9%);
  --primary-color-dark-blue-4: hsl(219, 30%, 18%);
  --accent-color-cyan: linear-gradient(to right, #f12711, #f5af19);
  --accent-color-blue: hsl(198, 60%, 50%);
  --neutral-color-white: hsl(0, 0%, 100%);
  --font-heading: "Raleway", sans-serif;
  --font-body: "Open Sans", sans-serif;
  --padding-sm: 2.5rem 2rem;
  --padding-md: 3.5rem 3rem;
  --padding-lg: 4.5rem 4rem;
  --padding-footer: 15rem 4rem 1rem;
  --padding-footer-tablet: 20rem 3rem 1rem;
  --padding-footer-mobile: 25rem 3rem 1rem;
}



html body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  background-color: #fff;
  color: #000;
  font-family: var(--font-body);
}

/* .logo-container img{
  color: white;
 width: 20px;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  line-height: 1.7;
  font-weight: 700;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.4rem;
}

p {
  font-family: var(--font-body);
  font-size: 14px;
  line-height: 1.7;
  padding: 0.5rem 0;
}

.lg-p {
  font-size: 1rem;
}

a {
  color: #000;
  font-family: var(--font-heading);
  text-decoration: none;
}

.navigation-link:hover {
  border: 2px solid rgb(242, 140, 40);
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1.2);
}

header {
  display: flex;
  padding: 3rem 3rem;
  justify-content: space-between;
}

/* .hamburger-menu{
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger-menu span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: var(--neutral-color-white);
  margin-bottom: 5px;
  transition: transform 0.3s ease;
} */

/* .menu-icon{
  display: none;
}

.menu-links {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .menu-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-links ul li {
  display: inline-block;
  margin-left: 1rem;
} */

/* @media screen and (max-width: 768px){
  .hamburger-menu {
    display: flex;
    cursor: pointer;

  }

  .menu-icon {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
  }

  .menu-links{
    display: none;
  }

  .open .menu-links {
    display: block;
  }

  .hamburger-menu.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger-menu.open span:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
} */

.overlay{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  background: black;
  z-index: -1;
}

#main-menu {
  display: block;
  width: 34%;
  margin: 0px;  
  z-index: 9;
}

#main-menu ul {
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9;
}

#main-menu li {
  list-style-type: none;
  font-size: 1.5rem;
  font-family: var(--font-heading)
}

#main-menu a {
  color: #000;
  font-size: 1rem;
  text-decoration: none;
}

#main-menu a:hover {
  text-decoration: underline;
  color: rgb(242, 140, 40);
}

#hamburger-input{
  display: none;
}

#hamburger-menu {
  position: fixed;
  z-index: 99;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  display: none;
  border: none;
  padding: 0px;
  margin: 0px;
  background: linear-gradient(
    to bottom,
    rgb(42, 170, 138),
    rgb(42, 170, 138) 20%,
    white 20%,
    white 40%,
    rgb(42, 170, 138) 40%,
    rgb(42, 170, 138) 60%,
    white 60%,
    white 80%,
    rgb(42, 170, 138) 80%,
    rgb(42, 170, 138) 100%
  );
}

#hamburger-menu #sidebar-menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: -250px;
  width: 200px;
  height: 100%;
  background-color: rgb(42, 170, 138);
  transition: 0.3s;
  padding: 0px 10px;
  box-sizing: border-box;
}


#hamburger-menu h3 {
  color: #000;
  font-size: 2.2rem;
}

#hamburger-menu ul {
  padding-left: 0px;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}

#hamburger-menu a {
  color: #000;
  font-size: 1.3rem;
  text-decoration: none;
}


#hamburger-menu a:hover {
  text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
  visibility: visible;
  right: 0;
}

#hamburger-input:checked ~ .overlay{
 visibility: visible;
 opacity: 0.4;
}

@media screen and (max-width: 750px) {
  #main-menu {
    display: none;
  }
  #hamburger-menu {
    display: inline;
  }
}

.animated {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

section {
  padding: var(--padding-lg);
}

.intro img {
  height: auto;
  width: 49%;
}
.productive img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro > div {
  width: 60%;
}

.ml-1 {
  margin-left: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

button {
  border-radius: 25px;
  background: linear-gradient(to right, #f12711, #f5af19);
  border: none;
  font-family: var(--font-heading);
  color: var(--neutral-color-white);
  height: 3rem;
  font-weight: 700;
  padding: 0 12px;
}

input {
  height: 3rem;
  padding-left: 12px;
  border: none;
  border-radius: 25px;
  background-color: var(--neutral-color-white);
}

.btn {
  width: 15rem;
  max-width: 80%;
}

button:hover {
  cursor: pointer;
  background: linear-gradient(to right, #f12711, #f5af19);
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.features-item {
  width: 33.33%;
  padding: 2rem 2.5rem;
  text-align: center;
}

.scroll-animation {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s ease, transform 1s ease;
}

.animate {
  opacity: 1;
  transform: translateY(0);
}

.supply-img {
  height: 100px;
  background-color: rgb(0, 128, 0);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

.logo-img {
  height: 50px;
  width: 50px;
}

.icon-img {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
}

.productive {
  display: flex;
  align-items: center;
}

.productive-img {
  transform: translateX(-100%);
  opacity: 0;
}

.productive-content {
  transform: translateX(100%);
  opacity: 0;
}

.productive-img.slide-from-left {
  animation: slide-from-left 1s ease forwards;
}

.productive-content.slide-from-right {
  animation: slide-from-right 1s ease forwards;
  padding-left: 4.5rem;
}

/* animate the section */
@keyframes slide-from-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-from-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.content-link {
  font-family: var(--font-body);
  border-bottom: 1px solid var(--accent-color-cyan);
  color: var(--accent-color-cyan);
}

.content-link:hover {
  color: var(--neutral-color-white);
  transition: 600ms;
  border-bottom-color: var(--white);
}

.testimonial {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonial-item {
  margin-left: 3.5rem;
  flex-basis: 33.33%;
  border-radius: 5px;
  background-color: rgb(42, 170, 138);
  color: #fff;
  box-shadow: 2px 2px 20px 2px rgb(0, 128, 0);
  padding: var(--padding-sm);
}

.testimonial-item:first-child {
  margin-left: 0;
}

.testimonial-item-reviewer {
  display: flex;
  padding-top: 1rem;
}

.testimonial-item-reviewer img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.cta {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-item {
  position: absolute;
  top: 50px;
  max-width: 800px;
  width: 66.66%;
  min-width: 300px;
  padding: var(--padding-md);
  color: #fff;
  box-shadow: 2px 2px 30px 2px rgb(0, 128, 0);
  background-color: rgb(42, 170, 138);
  border-radius: 5px;
  text-align: center;
}

.cta-form {
  display: flex;
  justify-content: center;
}

.input-block {
  width: 80%;
  max-width: 600px;
}

.btn-block {
  width: 20%;
  max-width: 250px;
  margin-left: 1rem;
}

.contact-info {
  margin-top: 50px;
  padding: var(--padding-footer);
  display: grid;
  background-color: rgb(242, 140, 40);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "logo logo logo logo" "location contacts links social" "attribution attribution attribution attribution";
}

.contact-info > div,
.contact-info > nav {
  padding: 1rem 2.5rem;
}

.contact-info-logo {
  grid-area: logo;
}

.contact-info-location {
  grid-area: location;
}

.contact-info-contacts-item,
.contact-info-location-item {
  display: flex;
}

footer p {
  padding: 0;
}

.img-footer {
  margin-right: 1rem;
  width: 18px;
  height: 18px;
  line-height: 1.5;
}

.contact-info-contacts {
  grid-area: contacts;
  display: flex;
  flex-direction: column;
}

.contact-info-contacts-item:first-child {
  margin-bottom: 2rem;
}

.contact-info-links {
  grid-area: links;
  justify-content: center;
}

.contact-info-links-list:first-child {
  margin-right: 2.5rem;
}

.contact-info-links-list li {
  margin-bottom: 1.5rem;
}

.contact-info-social-links {
  display: flex;
  justify-content: flex-end;
  grid-area: social;
}

.contact-info-social-link-item {
  margin-left: 1rem;
  height: 30px;
  width: 30px;
  border: 1px solid var(--neutral-color-white);
  border-radius: 50%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.attribution-container {
  grid-area: attribution;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 768px) {
  .cta {
    flex-direction: column;
    align-items: center;
  }

  .cta-item {
    position: static;
    margin-top: 50px;
  }

  .contact-info {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "logo" "location" "contacts" "links" "social" "attribution";
  }

  .contact-info-contacts {
    margin-top: 2rem;
  }

  .contact-info-links {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .cta-form {
    flex-direction: column;
    align-items: center;
  }

  .input-block,
  .btn-block {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-top: 1rem;
  }

  .contact-info {
    padding: var(--padding-sm);
  }
}

@media screen and (max-width: 1000px) {
  body {
    position: absolute;
  }
  header {
    padding: var(--padding-sm);
  }
  header img,
  footer img {
    width: 117px;
    height: auto;
  }
  section {
    padding: var(--padding-sm);
  }
  .intro > div,
  .features-item {
    width: 100%;
  }
  .testimonial,
  .productive {
    flex-direction: column;
  }
  .features-item {
    padding: 2rem 0;
  }
  .productive-content {
    margin-top: 2rem;
    padding: 0;
  }
  .testimonial-item {
    margin-left: 0;
    margin-top: 3.5rem;
    width: 80%;
  }
  .cta-item {
    width: 80%;
    padding: 2.5rem 2rem;
  }
  .cta-form {
    flex-direction: column;
  }
  .input-block {
    max-width: 100%;
    width: auto;
  }
  .btn-block {
    max-width: 100%;
    width: auto;
    min-width: 100%;
    margin-top: 1rem;
    margin-left: 0;
  }
  .contact-info {
    padding: var(--padding-footer-tablet);
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "logo" "location" "contacts" "links" "social" " attribution";
  }
  .contact-info > div,
  .contact-info > nav {
    padding: 1rem 0;
  }
  .contact-info-contacts {
    align-items: flex-start;
  }
  .contact-info-links {
    flex-direction: column;
    justify-content: flex-start;
  }
  .contact-info-links-list:first-child {
    margin-bottom: 1rem;
  }
  .contact-info-social-links {
    justify-content: center;
  }
}


@media screen and (max-width: 800px){
  body{
    position: absolute;
    width: 70%;
  }
} 

@media screen and (max-width: 375px) {
  body {
    position: absolute;
    width: 70%;
  }

  header {
    padding: var(--padding-sm);
  }
  header img,
  footer img {
    width: 117px;
    height: auto;
  }
  section {
    padding: var(--padding-sm);
  }
  .cta-item {
    min-width: 50%;
  }
  .contact-info {
    padding: var(--padding-footer-mobile);
  }
}
